
<div *ngIf="customUser">
    <h2><span>Custom User</span> {{customUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Full Name</span></dt>
        <dd>
            <span>{{customUser.fullName}}</span>
        </dd>
        <dt><span>Nickname</span></dt>
        <dd>
            <span>{{customUser.nickname}}</span>
        </dd>
        <dt><span>Push Token</span></dt>
        <dd>
            <span>{{customUser.pushToken}}</span>
        </dd>
        <dt><span>Extra Group Name</span></dt>
        <dd>
            <span>{{customUser.extraGroupName}}</span>
        </dd>
        <dt><span>Extra Group Description</span></dt>
        <dd>
            <span>{{customUser.extraGroupDescription}}</span>
        </dd>
        <dt><span>Extra Group Total Member</span></dt>
        <dd>
            <span>{{customUser.extraGroupTotalMember}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{customUser.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'custom-user-tc/'+ customUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
