
<div *ngIf="groupsMember">
    <h2><span>Groups Member</span> {{groupsMember.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Level</span></dt>
        <dd>
            <span>{{groupsMember.level}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{groupsMember.status}}</span>
        </dd>
        <dt><span>Custom User</span></dt>
        <dd>
            <div *ngIf="groupsMember.customUserId">
                <a [routerLink]="['/custom-user-tc', groupsMember.customUserId]">{{groupsMember.customUserId}}</a>
            </div>
        </dd>
        <dt><span>Groups</span></dt>
        <dd>
            <div *ngIf="groupsMember.groupsId">
                <a [routerLink]="['/groups-tc', groupsMember.groupsId]">{{groupsMember.groupsId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'groups-member-tc/'+ groupsMember.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
