<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentLabel">Create or edit a Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="appointment.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="appointment.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_repeatType">Repeat Type</label>
            <input type="number" class="form-control" name="repeatType" id="field_repeatType"
                [(ngModel)]="appointment.repeatType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="appointment.time"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_customUser">Custom User</label>
            <select class="form-control" id="field_customUser" name="customUser" [(ngModel)]="appointment.customUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customUserOption.id" *ngFor="let customUserOption of customusers; trackBy: trackCustomUserById">{{customUserOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" [(ngModel)]="appointment.teamId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="teamOption.id" *ngFor="let teamOption of teams; trackBy: trackTeamById">{{teamOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
