
<div *ngIf="groups">
    <h2><span>Groups</span> {{groups.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{groups.description}}</span>
        </dd>
        <dt><span>Offical</span></dt>
        <dd>
            <span>{{groups.offical}}</span>
        </dd>
        <dt><span>Total Member</span></dt>
        <dd>
            <span>{{groups.totalMember}}</span>
        </dd>
        <dt><span>Members</span></dt>
        <dd>
            <span *ngFor="let members of groups.members; let last = last">
                <a [routerLink]="['/groups-member-tc', members?.id ]">{{members.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
            <div *ngIf="groups.teamId">
                <a [routerLink]="['/team-tc', groups.teamId]">{{groups.teamId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'groups-tc/'+ groups.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
